{%- set system_upgrade = 40 -%}
{%- set user_package_install = 41 -%}
{%- set package_installation_complete = 42 -%}
{%- set download_cache_active = 50 -%}
{%- set download_cache_cleared = 60 -%}
{%- set package_install_completed = 100 -%}
